<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <!--CDN FONT-AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--BOSTSTRAP CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    
     <!--NAVEGATION-->
     <span class="nav-bar" id="btnMenu"><i class="fas fa-bars"></i>Menú</span>
     <nav class="main-nav"></nav>
     <ul class="menu" id="menu">
         <li class="menu__item"><a href="index.html" class="menu__link">Inicio</a></li>
         <li class="menu__item"><a href="/views/Nosotros.html" class="menu__link">Nosotros</a></li>
         <li class="menu__item container-submenu">
             <a href="#" class="menu__link submenu-btn">Productos <i class="fas fa-angle-down"></i></a>
             <ul class="submenu">
                 <li class="menu__item"><a href="/views/subMenu/Gabinetes.html" class="menu__link">Gabinetes</a></li>
                 <li class="menu__item"><a href="/views/subMenu/Motherboards.html" class="menu__link">Motherboard</a></li>
                 <li class="menu__item"><a href="/views/subMenu/Procesadores.html" class="menu__link">Procesadores</a></li>
                 <li class="menu__item"><a href="/views/subMenu/Memorias-Ram.html" class="menu__link">Memorias Ram</a></li>
                 <li class="menu__item"><a href="/views/subMenu/Almacenamiento.html" class="menu__link">Almacenamiento</a></li>
                 <li class="menu__item"><a href="/views/subMenu/Placas-de-video.html" class="menu__link">Placas De Video</a></li>
                 <li class="menu__item"><a href="/views/subMenu/Monitores.html" class="menu__link">Monitores</a></li>
                 <li class="menu__item"><a href="/views/subMenu/Notebooks.html" class="menu__link">Notebooks</a></li>
             </ul>
         </li>
         <li class="menu__item"><a href="/views/Contacto.html" class="menu__link">Contacto</a></li>
     </ul>

     <script src="main.js"></script>
     <script src="menu.js"></script>
</body>
</html>